ok
{{images}}

<div ng-show="vizu">
chargement ....
</div>

<!-- check image for every post 


	<div ng-repeat="post in posts" class="bloc_interface">

		<center>
			<h2 class="title"> {{post.name}} </h2>
		</center>
		<center>
			<img src="http://lorempixel.com/400/200/nightlife/{{post.id + 1}}/" alt="Smiley face" width="300" height="150" class="borderImage">
		</center>
		<br>
		<p>{{post.content}}</p>
		<a href="#/comments/{{post.id}}"> {{post.comments.length}} commentaires </a>
		<br>

	</div>
-->